<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
    {% for category in categories %}
        <a class="dropdown-item" href="{{ path('category_show', {name:category.name|lower}) }}">{{ category.name }}</a>
    {% endfor %}
</div>


